html {
  font-family: sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  max-width: 900px;
}

.card-label {
  background-color: lightgrey;
  padding: 16px;
  font-weight: bold;
}

.card-label > input {
  position: absolute;
  opacity: 0;
}

.card-label,
.card-label > input {
  cursor: pointer;
}

.card-label:focus-within {
  outline: 2px solid lightseagreen;
}

label:has(input:disabled),
input:disabled {
  cursor: default;
}

.selected {
  background-color: dimgray;
  color: white;
}

.easy {
  background-color: #b0d9b1;
}

.medium {
  background-color: #f4b183;
}

.hard {
  background-color: #a4c8e1;
}

.hardest {
  background-color: #d4a5c6;
}
